<!DOCTYPE html>
<html lang="en">

<%- include("partials/header.ejs") %>

    <body>
        <%- include("partials/navigation.ejs") %>

            <div class="container">
                <% if (Object.keys(blog).length> 0) { %>
                    
                    <div class="hero">
                        <h1>
                            <%= blog.name %>
                        </h1>
                    </div>

                    <div class="section-one-blog">
                        <div>
                            <h2>Article:</h2>
                        </div>
                        <div class="subsection-one-blog">
                            <p>
                                <%= blog.content %>
                            </p>
                        </div>
                    </div>
                    <% } else { %>
                        <h1>No post at this moment.</h1>
                        <% } %>
            
                    </div>

            <%- include("partials/footer.ejs") %>

    </body>

</html>